<template>
  <div class="daily">
    <div class="day" v-for="(day, index) in daily" :key="index">
      <div class="daily-day">
        {{ getDay(day.dt) }}  
      </div>
      <div class="daily-icon">
        <img :src="`http://openweathermap.org/img/wn/${day.weather[0].icon}@2x.png`" alt=""/>
      </div>
      <div class="daily-rain"> 
        <span v-if="day.rain">rain {{ day.rain.toFixed(0) }}%</span>
        <span v-else>rain 0%</span>
      </div>
      <div class="daily-temp">
        <span class="max">{{ day.temp.max.toFixed(0) }}</span> <span class="min">{{ day.temp.min.toFixed(0) }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Daily',
  props: ["getDay", "daily"]
}
</script>

<style scoped>
/* Daily values */
.daily {
  margin-top: 10px;
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.daily-icon img {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.daily-rain {
  text-align: center;
}

.daily-temp {
  text-align: right;
}

.daily-temp .max {
  margin-right: 10px;
}

.daily-temp .min {
  opacity: 0.6;
}
</style>
