<template>
  <canvas height="150" width="1320" id="myChartId" ref="myChart"></canvas>
</template>

<script>
import Chart from "chart.js";
import { watch } from "vue";

export default {
  name: "HourlyChart",
  props: ["hourTemps"],

  setup(props) {

    // Watch the hourTemps prop and when it changes, re-render the chart
    watch(
      () => props.hourTemps,
      () => {
        console.log("Temps changed")
        renderChart(props.hourTemps);
      },
      {
        lazy: false
      }
    )

    // Render the hourly chart
    const renderChart = (tempsArr) => {
      let ctx = document.getElementById("myChartId");
      new Chart(ctx, {
        type: "line",
        data: {
          labels: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], // 24 hours
          datasets: [
            {
              label: false,
              data: tempsArr,
              pointRadius: 0,
              borderColor: ["#fff"],
              fill: true,
              backgroundColor: "rgba(255,255,255,0.3)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              ticks: {
                display: false
              },
              gridLines: {
                display:false
              }
            }],
            xAxes: [{
              ticks: {
                display: false
              },
              gridLines: {
                display:false
              }
            }]
          },
        },
      });
    }
  },
};
</script>

<style scoped>
canvas {
  display: block;
  height: 53px !important;
  width: 1320px !important;
  margin-left: -20px;
  margin-top: 20px;
}
</style>