<template>
  <div class="hourly">
    <div class="hourly-slider">
      <div v-for="(hour, index) in hourly" :key="index" class="hour">
        {{ formatHour(hour.dt) }}
        <img :src="`http://openweathermap.org/img/wn/${hour.weather[0].icon}@2x.png`" alt="Icon"/>
        {{ hour.temp.toFixed(0) }}&deg;
      </div>
      <HourlyChart 
        :hourTemps="hourTemps"
      />
    </div>
  </div>
</template>

<script>
import HourlyChart from "@/components/HourlyChart"
export default {
  name: "Hourly",
  props: ["formatHour", "hourly", "hourTemps"],
  components: {
    HourlyChart
  }
}
</script>

<style scoped>
/* Hourly slider */
.hourly {
  overflow: hidden;
  margin-top: 30px;
  padding: 20px 0 5px 0;
  border-top: 1px solid #ffffff52;
  border-bottom: 1px solid #ffffff52;
  margin-left: -20px;
  margin-right: -20px;
}

.hourly-slider {
  overflow: auto;
  white-space: nowrap;
}

.hour {
  width: 55px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.hour img {
  width: 35px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}
</style>
