<template>
  <div class="header">
    <h1 class="location">{{ location.name }}</h1>
    <p class="description">{{ description }}</p>
    <p class="current">{{ current }}&deg;</p>
    <p class="high-low">H:{{ max }}&deg; L:{{ min }}&deg;</p>
    <p class="high-low">{{ humidity }}% Humidity</p>
    <p class="high-low">{{ precipitation }}% Precipitation</p>
  </div>
</template>

<script>
export default {
  name: 'Today',
  props: ["location", "description", "current", "max", "min", "humidity", "precipitation"],
}
</script>

<style scoped>
/* Main header */
.header {
  text-align: center;
  padding-top: 40px;
}
.location {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}
.description {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}
.description::first-letter {
  text-transform: capitalize;
}
.current {
  font-size: 76px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  padding-left: 25px;
}
.high-low {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
</style>
