<template>
  <div id="weather" :style="`background-image:url(${backgroundImg()})`">
    <Today 
      :location="location" 
      :description="description"
      :current="current"
      :max="max"
      :min="min"
      :humidity="humidity"
      :precipitation="precipitation"
    />
    <Hourly
      :hourly="hourly"
      :formatHour="formatHour"
      :hourTemps="hourTemps"
    />
    <Daily 
      :getDay="getDay"
      :daily="daily"
    />
  </div>
</template>

<script>
import { toRefs } from "vue";
import Today from "./components/Today";
import Hourly from "./components/Hourly";
import Daily from "./components/Daily";
import { appState } from "@/helpers/appState.js";

export default {
  name: 'App',
  components: {
    Today,
    Hourly,
    Daily
  },
  setup() {
    const { 
      backgroundImg, 
      data, 
      formatHour, 
      getDay 
    } = appState();
    return {
      backgroundImg,
      formatHour,
      getDay,
      ...toRefs(data)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  max-width: 991px;
  margin: 0 auto;
}
#weather {
  background-color:#5a92e0;
  background-size: cover;
  min-height: 100vh;
  padding: 0 20px;
}
body {
  margin: 0;
}
</style>
